@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
   color: rgb(115 130 175 / 95%);
}

body {
   color: rgb(255 255 255 / 90%);
   font-family: Segoe UI;
   font-size: 14px;
}

html,
body,
#root {
   height: 100%;
}

#root {
   padding: 0 8px 0 6px;
   background: #131313;
}

.app {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   height: 100%;
}

.left,
.center,
.right {
   display: flex;
   align-items: center;
}
.center {
   justify-self: center;
}
.right {
   justify-self: end;
}

.date,
.network,
.memory,
.cpu,
.workspaces,
.workspace,
.tiling-direction,
.battery {
   border: 1px solid #131313;
}

.date,
.cpu,
.network {
   margin-right: 13px;
}
.workspaces {
   margin-right: 7px;
}

.tiling-direction {
   margin-right: 7px;
}

.workspaces {
   display: flex;
   align-items: center;
   gap: 4px;
}

.workspace {
   background: transparent;
   color: rgb(255 255 255 / 90%);
   border: none;
   cursor: pointer;

   &.displayed {
      background: #00000033;
   }

   &.focused,
   &:hover {
      background: #131313;
   }
}

.battery {
   background: #131313;
   color: rgb(255 255 255 / 90%);
   padding: 0;
   margin-right: 5px;
}

.binding-mode,
.tiling-direction {
   background: transparent;
   color: rgb(255 255 255 / 90%);
   cursor: pointer;
}
