[user]
   name = Darian Toledo
   email = dariantoledo@duck.com

[core]
   editor = nvim
   pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
   syntax-theme = none
   line-numbers = true
   file-style = "yellow bold"
   file-decoration-style = "yellow ul ol"
   minus-style = "red #3A292B"
   minus-emph-style = "red reverse"
   plus-style = "green #2D3A2A"
   plus-emph-style = "green reverse"
   line-numbers-minus-style = "red"
   line-numbers-plus-style = "green"
   line-numbers-left-style = "black"
   line-numbers-right-style = "black"
   line-numbers-zero-style = "grey"
   hunk-header-line-number-style = "white bold"
   hunk-header-decoration-style = "black ul"

[alias]
   sdiff = -c delta.side-by-side=true diff
